.Comtrade_button{
    margin: 10px 10px 0px 60px;
    padding-top: auto;
    padding-right: 30px;
    padding-bottom: auto;
    padding-left: 30px;
    text-align: center;
    
}


.Comtrade_text{
    margin: 10px 10px 10px 30px;
    padding-top: auto;
    padding-right: 30px;
    padding-bottom: auto;
    padding-left: 30px;
    text-align: left;
    
}